/* GitHub Copilot was used to assist creation of parts of this css document */
:root {
    --color-light: #f7e3af;
    --color-dark: #4b3423;
    --color-accent: #c9854e;
    --color-link: #a16136;
        
    --color-light-tint: #FBF2DA;
    --color-light-shade: #FBF2DA;
    --color-disabled: #ae9a8b;
    --color-disabled-area: #ba9170;
    --color-disabled-text: #82634a;

    --transition-time-default: .4s;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--color-light);
}

/* STATUSES */
.active {
    background-color: var(--color-accent);
    color: var(--color-light);
}
.disabled.options-by-type-holder {
    background-color: var(--color-disabled-area);
    color: var(--color-disabled-text);
    pointer-events: none; /* Disables clicking in he grayed out areas to disable editing */
}
.disabled input, .disabled select{
    background-color: var(--color-disabled);
    color: var(--color-disabled-text);
}

.chip {
    background-color: var(--color-accent) !important;
    color: var(--color-dark) !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.chip.active {
    background-color: var(--color-link) !important;
    color: var(--color-light) !important;
}
.hidden {
    display: none !important;
}
.requiredTextStar {
    color: red;
}
/* END STATUSES */


.tabbed-area{
    background-color: none;
    padding: 0.85em;
}

.tab-content{
    padding: 0.85em;
    background-color: var(--color-light);
    border: 2px solid var(--color-link);
    border-top: none;
}

/* TABS */
.tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    height: fit-content;/*2.2em;*/
    overflow-y: hidden;
    /* border-bottom: 2px solid var(--color-link); */
}

.tabs>li.tab{
    padding: 10px;
    font-weight: bold;
    background-color: var(--color-link);
    cursor: pointer;
    box-shadow: 2px -13px 10px -13px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 2px -13px 10px -13px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 2px -13px 10px -13px rgba(0, 0, 0, 0.5) inset;
}

.tabs>li.tab.active {
    background-color: var(--color-light);
    color: var(--color-dark);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid var(--color-link);
    border-bottom: none;
}

.helper-tab-bar-fill{
    background-color: none;
    border-bottom: 2px solid var(--color-link);
    width: 100%;
    pointer-events: none;
}

/* END TABS */


.add-form, #filtering-fields, #filtering-fields>.options-by-type-holder {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em;
}

.options-by-type-holder {
    padding: 5px;
    background-color: var(--color-accent);
}

.add-form label {
    grid-column: 1;
}

.add-form input, .add-form select {
    grid-column: 2;
}

select:disabled {
    color: red !important;
}

/* USER INPUTS */
button, input[type="button"], input[type="submit"] {
    padding: .75em;
    font-size: 1.1em;
    max-height: fit-content;
    max-width: fit-content;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--color-link);
    color:var(--color-dark);
    border-radius: 4px;
    transition: color .2s ease-in-out, background-color var(--transition-time-default) ease-in-out;
}

select, input[type="text"], input[type="number"], input[type="date"], input[type="email"], input[type="tel"] {
    font-size: 0.9em !important;
    height: 1.45em !important;
}

button:hover, input[type="button"]:hover {/*TODO: Fix*/
    background-color: var(--color-dark);
    color:var(--color-link);
}

button:active, input[type="button"]:active {/*TODO: Fix*/
    background-color: var(--color-dark);
    color:var(--color-light);

    box-shadow: -14px -12px 18px -10px rgba(255,255,255,0.3) inset;
    -webkit-box-shadow: -14px -12px 18px -10px rgba(255,255,255,0.3) inset;
    -moz-box-shadow: -14px -12px 18px -10px rgba(255,255,255,0.3) inset;

    box-shadow: 10px 12px 18px -10px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 10px 12px 18px -10px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 10px 12px 18px -10px rgba(0,0,0,0.3) inset;
}

.chipGroup {
    display: inline-flex;
    margin: 0 auto;
}

.chip {
    flex: 1;
    /* display: inline-block; */
    padding: 6px 18px;
    margin: 2px;
    margin-right: 10px;
    background-color: var(--color-accent-tint);
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    width: 30%;
}

/* END USER INPUTS */

#filter-fields input[type="submit"] {
    display: block;
    grid-column: span 2;
    margin: 0 auto;
}












.vehicle-form>form {
    max-width: 100%;
}


#filter-new {
    background-color: var(--color-light-tint);/*TODO: Change*/
    border: 2px solid var(--color-dark);
}

.add-new, #filter-options-sidebar{
    padding: 0.5em;
}
#filter-options-sidebar{
}

.add-new{
    height: fit-content;
    overflow: hidden;
}

#filter-options-sidebar {
    background-color: var(--color-dark);
    color: var(--color-light);
}


#filter-options-sidebar .car, #filter-options-sidebar .plane, #filter-options-sidebar .boat {
    padding: 1em;
    margin: 1em;
    background-color: var(--color-light);
    color: var(--color-dark);
}

article {
    padding: 2em 1em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: var(--color-dark);
    text-align: center;
}

article > section > header > h2 {
    text-align: center;
    padding-bottom: 1em;
}


section ul, section ol {
    margin-left: 1em;
}

.row {
    display: flex;
    gap: 0;
}


.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}  

.flex-3 {
    flex: 3;
} 

.flex-4 {
    flex: 4;
}   

h3 {
    margin: .5em;
}

p {
    margin-bottom: .75em;
}

a {
    color: var(--color-dark);
    font-weight: bold;
}

a:hover {
    background-color: var(--color-link);
}

.center {
    align-items: center;
    justify-content: center;
}

.space_placehold{
    height: 1em;
}


/* RESPONSIVE */

@media (max-width: 1120px) {
    .row {
        flex-direction: column-reverse;
    }

    .chipGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    section#filtered-results>ul>h3{
        text-align: center;
    }

    .add-new h3{
        text-align: center;
    }
}

@media (max-width: 800px) {
    #filtering-fields{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .space_placehold{
        height: 0;
    }
}