/*
Copy & Paste Icons
https://fonts.google.com/icons?icon.query=clipboard&icon.style=Outlined
https://fonts.google.com/icons?icon.query=copy&icon.style=Outlined
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
*/
    .material-symbols-outlined {
        font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
    }
    /*
    "Content Paste": e14f
    <span class="material-symbols-outlined">content_paste</span>
    "Inventory": e179
     <span class="material-symbols-outlined">inventory</span>
    "Content Copy": e14d
    <span class="material-symbols-rounded">content_copy</span>
    content_paste_go
    */
