:root {

    --hero_opacity: 0.35;
    --indent_space_alpha: 1em;
    --distance_to_side: 7%;/*App menu button side distance*/

    /* #0d669f */
    /*--primary_light: #83ecff;*/
    /*--primary_light_light: #bfe6ff;*/
    /*--primary_dark: #5f9ea0;*/
    --primary_light: #83ecff;
    --primary_light_light: #bfe6ff;
    --primary_dark: #5f9ea0;
    --primary_dark_dark: #004547;
    --primary_darkest: #002424;

    --white: #fff;
    --pdf_background_color_from_container: #2a2a2a;

    --popup_expand_image_bakground: var(--pdf_background_color_from_container);

    /*--testa: #800000;*/
    /*--testb: #CC6600;*/
    /*--testc: #FFD700;*/
    /*--testd: #228B22;*/
    /*--teste: #000080;*/
    /*--testf: #4B0082;*/
    /*--testg: #C19A6B;*/


    --content_background: rgba(244, 244, 244, 0.5); /*#F4F4F480;*/
    --info_gray: #e6e6e6;

    --clear_grey_overlay: #595959aa;
    --background_image_color: var(--primary_darkest);/*TODO: Change based on color mode*/


    --instructions_background: #cfcfcff6;/*changed for light mode to secondary_background*/



    --header_background: var(--primary_dark);
    --header_text: var(--primary_light);

    /* APPS */
    --app_chalkboard_white: #FFF;
    --app_chalkboard_background: #b1b1b1;

    --app_guessing_normal: #1da389;
    --app_guessing_light: #24ffd5;
    --app_guessing_dark: #094e40;

    --default_br_color: #808080;
}


body {
    /*Background-image set though _header.html*/
    /*background-image: url("/img/croquet.jpg");*/
    /*background-image: url("https://avatars.githubusercontent.com/u/67847710");*/
    background-color: var(--primary_light_light);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.centered{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*START NAVIGATION*/
header {
    font-family: 'Shadows Into Light', cursive;
}

header h1 {
    color: #222;
    font-size: 50px;
}

header h1 a {
    text-decoration: none;
}

nav {
    margin-bottom: 50px;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: inherit;
}

nav li {
    float: left;
    z-index: inherit;
}

.dropdown-content {
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*text-align: center;*/
}

nav .dropdown-head:hover .dropdown-content {
    display: block;
    z-index: inherit;
}

nav li .dropdown-content{
    display: none;
    position: absolute;
    background-color: inherit;
    filter: brightness(150%); /* make the child lighter than inherited */
    z-index: inherit;
    /*transform: translateX(-25%);*/
}

nav li .dropdown-content li{
    /*padding: -10% 3%;*/
    display: block;
    z-index: inherit;
    font-size: 1em;
}
nav li .dropdown-content li:hover{
    filter: brightness(150%); /* make the child lighter than inherited */
}

nav li:hover {
    color: var(--primary_light);
    background-color: var(--primary_dark_dark);
    z-index: inherit;
    /*with: 100%;*/
}

nav li a {
    display: block;
    color: var(--header_text);
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    z-index: inherit;
    trans
}

nav .dropdown-content li{
    display: block;
    z-index: inherit;
    font-size: 1em;
    clear: both;/*Takes care of horizontal nav list behavior*/
    width: 100%;
}

/*END NAVIGATION*/


#content {
    background-color: var(--content_background);
    margin-right: 20%;
    margin-left: 20%;
    padding: 20px;
    font-size: 24px;
}
@media (max-width: 768px) {
    #content {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        padding-top: 3%;
    }
    #content table{
        margin: 1% auto;
        width: 60%;
        overflow-wrap: break-word;
    }
    /*#content table th{*/
    /*    width: 60%;*/
    /*}*/
    #content table td{
        width: 20%;
    }
    #content table td:first-child{
        /*white-space: pre-line;*/
        /*display: inline;*/
    }
    body{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

}
/*CONTENT TABLES START*/
#content table{
    /*border-collapse: collapse;*/
    margin: 0 auto;
    width: 80%;
}
#content table th{
    background-color: var(--primary_dark);
    color: var(--primary_light_light);
}
#content table th, #content table td{
    border: solid 2px black;
}
#content tr:nth-child(even) td{
    background-color: var(--primary_light);
}
table > tbody > tr > td > span.material-symbols-outlined.type-icon-inside{
    float: left;
    margin-left: 5px;
    padding-top: 2px;
}
@media (max-width: 1248px) {
    table > tbody > tr > td > span.material-symbols-outlined.type-icon-inside {
        float: none;
        margin-left: 0;
        padding-top: 0;
    }
}

#content td > button.material-symbols-outlined{
    background-color: var(--content_backgorund);/*TODO: Make it use "transparent"*/
    height: 100%;
    width:  100%;
    background: none;
    border: none;
    /*content: "content_paste";*/
}

/*CONTENT TABLES END*/

/*CHANGINGS START*/
/* https://stackoverflow.com/a/44463146/16041898 */
.material-icons.clipboard-copy::before{
    content:"content_paste";
}
.clipboard-wrap:hover .material-icons.clipboard-copy::before, .lastCopiedToClipboard::before{
    content:"inventory";
}
.clipboard-wrap{
    background-color: var(--primary_light);
}
/*CHANGINGS END*/



#croquet-yard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--primary_darkest)
}


h2{
    text-align: center;
}


/*START GITHUB GENERATION*/
.repositoryBoxes{
    background-color: var(--primary_light_light);
    margin: 4%;
    padding: 2%;
}

.repositoryBoxes > ul{/*Only target direct list*/
    list-style: none;
}

.repositoryBoxes > ul > li >span.indent{
    text-indent: var(--indent_space_alpha);
    display:block;/*To allow the text-indent*/
}
.repositoryBoxes > ul > li >code.indent{
    margin-left: var(--indent_space_alpha);
}

code {
    font-family: monospace;
    display: block;
    background-color: #f9f9f9;
    padding: 0.2em 0.4em;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/*END GITHUB GENERATION*/

.image_banner {
    height: 70vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, var(--hero_opacity))), url("");
}

.image_banner_message_section {
    text-align: center;
    display: inline-block;
    background-color: var(--clear_grey_overlay);
    color: var(--white);
    position: absolute;
    transform: translate(-50%, 0);
}
.image_banner_message_section p{
    font-size: 4vh;
}



.image_banner > .image_banner_message_section > h2{
    font-size: 9vh;
}
/*END HEADING W/IMAGE SECTION*/

/*START DATE CONDITIONAL*/
.date_conditional, .rounded-generated{/*TODO: Come up with a better name than .rounded-generated*/
    --padding: 5px;
    border-radius: max(100vw, 100vh);
    border: thin solid var(--primary_darkest);
    padding: calc(var(--padding) - 1px) var(--padding);
    font-size: calc(100% - (2 * var(--padding)));
    vertical-align: middle;
    /*transform: translateY();*/
}

.flatList{
    list-style: none;
}
.flatList li{
    display: inline;
}



.date_conditional.date_recent{
    background-color: #00ff00;
}
.date_conditional.date_older{
    background-color: orange;
}
.date_conditional.date_old{
    background-color: red;
    color: white;
}
/*END DATE CONDITIONAL*/



/*START ABOUT ME SECTION*/

/*.AboutMes{*/
/*    background-color: var(--secondary_background);*/
/*    padding: 0px -20px 2px 0px;*/
/*    font-size: clamp(16px, 2.75vh, 32px);*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    !*justify-content: space-evenly;*!*/
/*}*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 32%;
    height: auto;
    margin-bottom: 20px;
    background-color: #ccc;
}
.item h2 {
    border-radius: 35px;
    padding:10px;"
}
.item h3 {
    display: inline-block;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--primary_darkest);
    background: var(--primary_dark);
}
.item p{
    /*padding: 20px;*/
}
.item p.text{
    text-align: justify; /*TODO: Make center last line*/
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.item hr{
    width: 76%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--default_br_color);
    margin-top:    3px;
    margin-bottom: 3px;
}

.subtitle{
    font-size: smaller;
}

.primary-container-section > h2{
    display: inline-block;
    background-color: var(--primary_dark_dark);
    color: var(--primary_dark);
    padding: 20px;
    border-radius: 100vh;
}
.primary-container-section .item{
    color: var(--primary_dark);
    border-radius: 40px;
    background: var(--primary_dark_dark);
}
.primary-container-section .item h2{
    background-color: var(--primary_dark);
    color: var(--primary_dark_dark);
    text-align: center;
}
.primary-container-section .item{
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
    /*grid-gap: 5px;*/
}

.primary-container-section .item img{
    max-width: 80%;
    height: auto;
}
.primary-container-section .jsonImage img{
    width: 45%;
    height: auto;
    margin: 5px /* 5px 0 5px;*/;/*No bottom padding*/
    vertical-align: middle;
}


.page-jump-selector{
    display: inline-block;
    background-color: var(--primary_dark_dark);
    border: 2px solid var(--primary_darkest);
    border-radius: 100vh;
    padding: 10px;
    width: auto;
    height: auto;
}
.page-jump-selector ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    text-align: center; /* Center the list items within the container */
    /*background-color: ;*/
}
.page-jump-selector li {
    display: inline-block;
    margin-right: 10px;

}
.page-jump-selector li a {
    text-decoration: none;
    background-color: var(--primary_dark);
    color: var(--primary_darkest);
    padding: 10px 15px;
    border: 2px solid var(--primary_darkest);
    border-radius: 100vh;
    font-weight: bold;
}
.page-jump-selector li a:hover {
    background-color: var(--primary_darkest);
    border: 2px solid var(--primary_dark);
    color: var(--primary_dark);
}


.recents {
    width: 50%;
    background-color: var(--primary_light_light);
    padding: 3%;
    transform: translateX(-3%);
}
div > .updateBar {
    width: 100%;
    background-color: var(--primary_dark);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div > .updateBar:hover {
    transition: transform .2s;
    transform: scale(1.1);
    box-shadow: 12px 12px 2px 1px var(--primary_darkest);
    background-color: var(--primary_dark);
    /*width: 94vw;*/
}
div > .updateBar:hover > *:not(a) {
}

/*SINGLE ELEMENT IDs for operations*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 75vh;
    z-index: 200;
    display: none;
}
/*Targets id that expand on click*/
[id^=autogenIdHoverAndClickExpand_]:hover{/*Starts with*/
    transition: transform .1s;
    transform: scale(1.1);
    box-shadow: 12px 12px 2px 1px var(--primary_darkest);
    background-color: var(--primary_dark);
    /*width: 94vw;*/
}



/*MENU'S (START)*/
.panel {
    position: relative;
    width: 80%;
    height: auto;
    margin: 20px auto;
    background-color: #ffffff;
    display: flex;
}

.section-tabs {
    width: 20%;
    background-color: var(--info_gray);
}
.section-tabs h3{
    padding-top: 12px;
    padding-bottom: 10px;
    width: 99%;
    filter: brightness(120%);
    text-align: center;
    border: 1px solid black;
    background-color: var(--clear_grey_overlay);
}
.section-tabs .tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*justify-content: center;*/
    align-items: center;
    padding: 10px;
}
ul.tabs > li{
    filter: brightness(120%);
    text-align: center;
    border: 1px solid var(--clear_grey_overlay);
    background-color: var(--clear_grey_overlay);
    list-style-type: none;
    width: 100%;
}

.section-right-top {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    background-color: #e6e6e6;
}

.section-right-top .mode-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.section-second-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.section-title {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    margin-top: 8%;
}

.section-content-holder {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-bottom: 5%;
    width: 40%;
}
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 90px;
}

.prev-button {
    left: var(--distance_to_side);
}
.next-button {
    right: var(--distance_to_side);
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
}
.selectedMode {
    filter: brightness(80%);
}
.selectedPageTab {
    filter: brightness(160%) !important;
    font-weight: bold;
}
ul.tabs > li:hover{
    filter: brightness(180%);
    cursor: pointer;
}
.section-content-holder > img{
    border-radius: 3vh;
    border: 2px solid black;
}

/*MENU'S (END)*/
@media (max-width: 768px) {
    .item {
        width: 100%;
    }
}

/*END ABOUT ME SECTION*/


