:root {

    --hero_opacity: 0.35;
    --indent_space_alpha: 1em;

    /* #0d669f */
    /*--primary_light: #83ecff;*/
    /*--primary_light_light: #bfe6ff;*/
    /*--primary_dark: #5f9ea0;*/
    --primary_light: #83ecff;
    --primary_light_light: #bfe6ff;
    --primary_dark: #5f9ea0;
    --primary_dark_dark: #004547;
    --primary_darkest: #002424;
    --white: #fff;

    /*--testa: #800000;*/
    /*--testb: #CC6600;*/
    /*--testc: #FFD700;*/
    /*--testd: #228B22;*/
    /*--teste: #000080;*/
    /*--testf: #4B0082;*/
    /*--testg: #C19A6B;*/


    --content_backgorund: rgba(244, 244, 244, 0.5);
    --clear_grey_overlay: #595959aa;
    --background_image_color: var(--primary_darkest);/*TODO: Change based on color mode*/


    --instructions_background: #cfcfcff6;/*changed for light mode to secondary_background*/



    --header_background: var(--primary_dark);
    --header_text: var(--primary_light);

    /* APPS */
    --app_chalkboard_white: #FFF;
    --app_chalkboard_background: #b1b1b1;

    --app_guessing_normal: #1da389;
    --app_guessing_light: #24ffd5;
    --app_guessing_dark: #094e40;

    --default_br_color: #808080;
}


body {
    /*Background-image set though _header.html*/
    /*background-image: url("/img/croquet.jpg");*/
    /*background-image: url("https://avatars.githubusercontent.com/u/67847710");*/
    background-color: var(--primary_light_light);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.centered{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*START NAVIGATION*/
header {
    font-family: 'Shadows Into Light', cursive;
}

header h1 {
    color: #222;
    font-size: 50px;
}

header h1 a {
    text-decoration: none;
}

nav {
    margin-bottom: 50px;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: inherit;
}

nav li {
    float: left;
    z-index: inherit;
}

nav .dropdown-head:hover .dropdown-content {
    display: block;
    z-index: inherit;
}

nav li .dropdown-content{
    display: none;
    position: absolute;
    background-color: inherit;
    filter: brightness(150%); /* make the child lighter than inherited */
    z-index: inherit;
}

nav li .dropdown-content li{
    /*padding: -10% 3%;*/
    display: block;
    z-index: inherit;
    font-size: 1em;
}
nav li .dropdown-content li:hover{
    filter: brightness(150%); /* make the child lighter than inherited */
}

nav li:hover {
    color: var(--primary_light);
    background-color: var(--primary_dark_dark);
    z-index: inherit;
}

nav li a {
    display: block;
    color: var(--header_text);
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    z-index: inherit;
}
/*END NAVIGATION*/


#content {
    background-color: var(--content_background);
    margin-right: 20%;
    margin-left: 20%;
    padding: 20px;
    font-size: 24px;
}
/*CONTENT TABLES START*/
#content table{
    border-radius: 5%;
    /*border-collapse: collapse;*/
    margin: 0 auto;
    width: 80%;
}
#content table th{
    background-color: var(--primary_dark);
    color: var(--primary_light_light);
}
#content table th, #content table td{
    border: solid 2px black;
}
#content tr:nth-child(even) td{
    background-color: var(--primary_light);
}

#content td > button.material-symbols-outlined{
    background-color: var(--content_backgorund);/*TODO: Make it use "transparent"*/
    height: 100%;
    width:  100%;
    background: none;
    border: none;
    /*content: "content_paste";*/
}

/*CONTENT TABLES END*/

/*CHANGINGS START*/
/* https://stackoverflow.com/a/44463146/16041898 */
.material-icons.clipboard-copy::before{
    content:"content_paste";
}
.clipboard-wrap:hover .material-icons.clipboard-copy::before, .lastCopiedToClipboard::before{
    content:"inventory";
}
.clipboard-wrap{
    background-color: var(--primary_light);
}
/*CHANGINGS END*/



#croquet-yard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--primary_darkest)
}


h2{
    text-align: center;
}


/*START GITHUB GENERATION*/
.repositoryBoxes{
    background-color: var(--primary_light_light);
    margin: 4%;
    padding: 2%;
}

.repositoryBoxes > ul{/*Only target direct list*/
    list-style: none;
}

.repositoryBoxes > ul > li >span.indent{
    text-indent: var(--indent_space_alpha);
    display:block;/*To allow the text-indent*/
}
.repositoryBoxes > ul > li >code.indent{
    margin-left: var(--indent_space_alpha);
}

code {
    font-family: monospace;
    display: block;
    background-color: #f9f9f9;
    padding: 0.2em 0.4em;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/*END GITHUB GENERATION*/

.image_banner {
    height: 70vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, var(--hero_opacity))), url("");
}

.image_banner_message_section {
    text-align: center;
    display: inline-block;
    background-color: var(--clear_grey_overlay);
    color: var(--white);
    position: absolute;
    transform: translate(-50%, 0);
}
.image_banner_message_section p{
    font-size: 4vh;
}



.image_banner > .image_banner_message_section > h2{
    font-size: 9vh;
}
/*END HEADING W/IMAGE SECTION*/

/*START DATE CONDITIONAL*/
.date_conditional{
    --padding: 5px;
    border-radius: max(100vw, 100vh);
    border: thin solid var(--primary_darkest);
    padding: calc(var(--padding) - 1px) var(--padding);
    font-size: calc(100% - (2 * var(--padding)));
    vertical-align: middle;
    /*transform: translateY();*/
}

.flatList{
    list-style: none;
}
.flatList li{
    display: inline;
}



.date_conditional.date_recent{
    background-color: #00ff00;
}
.date_conditional.date_older{
    background-color: orange;
}
.date_conditional.date_old{
    background-color: red;
    color: white;
}
/*END DATE CONDITIONAL*/



/*START ABOUT ME SECTION*/

/*.AboutMes{*/
/*    background-color: var(--secondary_background);*/
/*    padding: 0px -20px 2px 0px;*/
/*    font-size: clamp(16px, 2.75vh, 32px);*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    !*justify-content: space-evenly;*!*/
/*}*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 32%;
    height: auto;
    margin-bottom: 20px;
    background-color: #ccc;
}
.item h2 {
    border-radius: 35px;
    padding:10px;"
}
.item h3 {
    display: inline-block;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--primary_darkest);
    background: var(--primary_dark);
}
.item p{
    /*padding: 20px;*/
}
.item p.text{
    text-align: justify; /*TODO: Make center last line*/
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.item hr{
    width: 76%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--default_br_color);
    margin-top:    3px;
    margin-bottom: 3px;
}

.subtitle{
    font-size: smaller;
}

.primary-container-section > h2{
    display: inline-block;
    background-color: var(--primary_dark_dark);
    color: var(--primary_dark);
    padding: 20px;
    border-radius: 100vh;
}
.primary-container-section .item{
    color: var(--primary_dark);
    border-radius: 40px;
    background: var(--primary_dark_dark);
}
.primary-container-section .item h2{
    background-color: var(--primary_dark);
    color: var(--primary_dark_dark);
    text-align: center;
}
.primary-container-section .item{
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
    /*grid-gap: 5px;*/
}

.primary-container-section .item img{
    max-width: 80%;
    height: auto;
}
.primary-container-section .jsonImage img{
    width: 45%;
    height: auto;
    margin: 5px /* 5px 0 5px;*/;/*No bottom padding*/
    vertical-align: middle;
}


.page-jump-selector{
    display: inline-block;
    background-color: var(--primary_dark_dark);
    border: 2px solid var(--primary_darkest);
    border-radius: 100vh;
    padding: 10px;
    width: auto;
    height: auto;
}
.page-jump-selector ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    text-align: center; /* Center the list items within the container */
    /*background-color: ;*/
}
.page-jump-selector li {
    display: inline-block;
    margin-right: 10px;

}
.page-jump-selector li a {
    text-decoration: none;
    background-color: var(--primary_dark);
    color: var(--primary_darkest);
    padding: 10px 15px;
    border: 2px solid var(--primary_darkest);
    border-radius: 100vh;
    font-weight: bold;
}
.page-jump-selector li a:hover {
    background-color: var(--primary_darkest);
    border: 2px solid var(--primary_dark);
    color: var(--primary_dark);
}


.recents {
    width: 50%;
    background-color: var(--primary_light_light);
}
div > .updateBar {
    width: 100%;
    background-color: var(--primary_dark);
    margin: 20px;
}
div > .updateBar:hover {
    transition: transform .1s;
    transform: scale(1.1);
    box-shadow: 12px 12px 2px 1px var(--primary_darkest);
    background-color: var(--primary_dark);
    /*width: 94vw;*/
    /*height: max(10vh, fit-content);*/
}
div > .updateBar:hover > *:not(a) {
}



@media (max-width: 768px) {
    .item {
        width: 100%;
    }
}

/*END ABOUT ME SECTION*/


