<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
<body th:fragment="fragments/">
<div th:insert="fragments/_header :: header"></div>

<style>
/*   Page specific overrides   */
    body{
        background-position-y: 11%;
    }
    .image_banner_message_section{
        bottom: 25%; left: 25%;
        width: 50%;
    }
    .image_banner_message_section p{
        padding-left: 10px;
        padding-right: 10px;
        /*width: 50%;*/
    }
    .image_banner_message_section a{
        color: var(--primary_darkest);
    }
</style>

<div class="image_banner" th:attr="style='background-image: url(' + ${heroImgSrc} + ')'">
    <div class="image_banner_message_section">
        <h1>About Me</h1>
        <p><i>Page currently in migration from V1, see the original at <a alt="Original website" target="_blank" href="https://42null.github.io/index.html">42null.github.io</a></i>.</p>
    </div>
</div>

<!--<div class="about-mes">-->
<!--    <div class="container">-->
<!--    <div th:each="contentBox : ${contentBoxes}">-->
<!--        <div class="item">-->
<!--            <h1 th:text="${contentBox.title}">Title</h1>-->
<!--            <div class="jsonImage centered">-->
<!--                <img th:each="image : ${contentBox.images}" th:src="${image.src}" alt="${image.alt}" title="${image.title}">-->
<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <hr>-->
<!--            <p th:utext="${contentBox.text}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->

<div class="about-mes">
    <div class="container">
        <div th:each="contentBox : ${contentBoxes}" class="item">
            <h1 th:text="${contentBox.title}">Title</h1>
                <div class="jsonImage centered">
                    <img th:each="image : ${contentBox.images}" th:src="${image.src}" alt="${image.alt}" title="${image.title}">
                </div>
            <br>
            <br>
            <hr>
            <p th:utext="${contentBox.text}"></p>
        </div>
    </div>
</div>

</body>
</html>