<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
<body>
<div th:insert="fragments/_header :: header"></div>

<div class="image_banner" th:attr="style='background-image: url(' + ${heroImgSrc} + ')'">
    <div class="image_banner_message_section" style="bottom: 1%">
        <h1>About Me</h1>
        <p style="font-size: 4vh">Add some text here and possibly italicize it</p>
    </div>
</div>

<div class="container about-mes">
    <div th:each="contentBox : ${contentBoxes}" class="item">
        <h1 th:text="${contentBox.title}" class="indent">Title</h1>
        <img th:src="${contentBox.imageUrl}" alt="${contentBox.imageAlt}" class="centered">
        <br>
        <br>
        <hr>
        <p th:text="${contentBox.text}"></p>
    </div>
</div>

</body>
</html>