<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
<body th:fragment="fragments/">
<div th:insert="fragments/_header :: header"></div>

<style>
/*   Page specific overrides   */
    body{
        background-position-y: 11%;
    }
    .image_banner_message_section{
        bottom: 25%; left: 25%;
        width: 50%;
        padding-bottom: 15px;
    }
    .image_banner_message_section p{
        padding-left: 10px;
        padding-right: 10px;

    }
    .image_banner_message_section a{
        color: var(--primary_darkest);
    }
    .primary-container-section>h2.centered{
        display: block;
        width: 20%;
        border: thin solid var(--primary_darkest);
    }


</style>

<div id="overlay"></div>
<div id="popup"></div>

<div class="image_banner" th:attr="style='background-image: url(' + ${heroImgSrc} + ')'">
    <div class="image_banner_message_section">
        <h1>About Me</h1>
        <p><i>Page currently in migration from V1, see the original at <a alt="Original website" target="_blank" href="https://42null.github.io/index.html">42null.github.io</a></i>.</p>

        <div class="centered">
            <div class="page-jump-selector">
                <ul>
                    <li><a href="#work-experience">Work Experience</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#certifications">Certifications</a></li>
                    <li><a href="#accomplishments">Accomplishments</a></li>
                    <!--                    <li><a href="#relevant-coursework">Relevant Coursework</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="primary-container-section">
    <h2 class="centered" id="work-experience">Work Experience</h2>
    <div class="container">
        <div th:each="contentBox : ${contentBoxesWorkExperience}" class="item centered"><!-- Centered is so that lone elements at the end are centered -->
            <h2 th:text="${contentBox.header}">Header</h2>
            <div class="centered">
                <div class="jsonImage">
                    <img th:each="image : ${contentBox.images}"
                         th:style="'background:' + ${image.background} + ';border-radius:' + ${image.radius} + ';padding:' + ${image.padding} + ';' "
                         th:src="${image.src}"
                         th:alt="${image.alt}"
                         th:title="${image.title}" />
                </div>
            </div>
            <hr>
            <div th:utext="${contentBox.text}" class="text"></div>
        </div>
    </div>
    <h2 class="centered" id="education">Education</h2>
    <div class="container">
        <div th:each="contentBox : ${contentBoxesEducation}" class="item centered"><!-- Centered is so that lone elements at the end are centered -->
            <h2 th:text="${contentBox.header}">Header</h2>
            <div class="centered">
                <div class="jsonImage">
                    <img th:each="image : ${contentBox.images}"
                         th:style="'background:' + ${image.background} + ';border-radius:' + ${image.radius} + ';padding:' + ${image.padding} + ';' "
                         th:src="${image.src}"
                         th:alt="${image.alt}"
                         th:title="${image.title}" />
                </div>
            </div>
            <hr>
            <div th:utext="${contentBox.text}" class="text"></div>
        </div>
    </div>

    <h2 class="centered" id="certifications">Certifications</h2>
    <div class="container">
        <div th:each="contentBox : ${contentBoxesCertifications}" class="item centered"><!-- Centered is so that lone elements at the end are centered -->
            <h2 th:text="${contentBox.header}">Header</h2>
            <div class="centered">
                <div class="jsonImage">
                    <img th:each="image : ${contentBox.images}"
                         th:with="generatedId=|autogenIdHoverAndClickExpand_${#strings.toLowerCase(#strings.replace(#strings.concat(contentBox.header, ' ', image.alt), ' ', ''))}|"
                         th:style="'background:' + ${image.background} + ';border-radius:' + ${image.radius} + ';padding:' + ${image.padding} + ';' "
                         th:src="${image.src}"
                         th:alt="${image.alt}"
                         th:title="${image.title}"
                         th:id="${generatedId}"
                         th:attr="onclick=|expandImage('${image.onClick}', '${generatedId}')|" />
                </div>
            </div>
            <hr>
            <div th:utext="${contentBox.text}" class="text"></div>
        </div>
    </div>
    
    <h2 class="centered" id="accomplishments">Accomplishments</h2>
    <div class="container">
        <div th:each="contentBox : ${contentBoxesAchievements}" class="item centered"><!-- Centered is so that lone elements at the end are centered -->
            <h2 th:text="${contentBox.header}">Header</h2>
            <div class="centered">
                <div class="jsonImage">
                    <img th:each="image : ${contentBox.images}"
                         th:style="'background:' + ${image.background} + ';border-radius:' + ${image.radius} + ';padding:' + ${image.padding} + ';' "
                         th:src="${image.src}"
                         th:alt="${image.alt}"
                         th:title="${image.title}" />
                </div>
            </div>
            <hr>
            <div th:utext="${contentBox.text}" class="text"></div>
        </div>
    </div>

</div>

</body>
</html>