<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
<body>
<div th:insert="fragments/_header :: header"></div>

<style>
        .recents{
                padding-top: 2px;
        }
</style>

<div class="image_banner" th:attr="style='background-image: url(' + ${heroImgSrc} + ')'">
        <!--    <div class="image_banner_text_email" id="image_banner_text" style="background-color: var(&#45;&#45;clearGreyImageOverlay);">-->
        <div class="image_banner_message_section" style="bottom: 1%" >
                <h1>I am AJ Memmel</h1>
                <p>And I'm a Software Engineer (among other things)</p>
                <!--        &lt;!&ndash;         <button style="font-size: 3vh" title="Email Me!" onclick=" window.open('https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=memmjos@kmsd.edu&body=[Directed from repl.co]%0d%0a', '_blank'); return true;">Contact me</button>-->
                <!--         &ndash;&gt;    <button style="font-size: 3vh" title="Email Me!" <span><a href="mailto:josephmemmel42null@gmail.com?&subject=Response From 42Null Website" target="_blank">Contact me</a></span>-->
                <!--        </button>-->
                <!--        <p style="background-color:#595959cc;">This site is currently under development, while much of it is compleate, new sections are still being added, click <a href="./NavPages/Projects/Servers/42Nulls/all42nulls.html" target="" style="background-color:#696969;"><b>here</b></a> to see and change what souce you are on.</p>-->
        </div>
</div>

<div>
        <h1 class="centered">Updates</h1>
        <div class="recents centered">
                <div>
                        <div th:each="bar : ${updateBars}" class="updateBar">
                <!--                <h2><a th:text="${bar.title}" class="indent" href="@{${'/about/aboutMe'}}">Title</a></h2>-->
                                <h2><a th:text="@{${bar.title}}" th:href="@{${bar.url}}">Title</a></h2>
                                <p><span th:text="@{${bar.status}}"></span></p>
                        </div>
                </div>
        </div>
</div>

<!--<center><div class="recents">-->
<!--    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script"/>-->
<!--    <blockquote style="color:primary_darkest;"><h1 id="Font_Danceing" style="font-size: 10vh">· <u>Recents</u> ·</h1></blockquote></h1></center>-->

</body>
</html>

