<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<header th:fragment="header">
    <h1><a th:href="@{/}">Pewaukee Golf Croquet Association</a></h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/rules}">Rules of Golf Croquet</a></li>
            <li><a th:href="@{/terms}">Golf Croquet Glossary</a></li>
        </ul>
    </nav>
</header>
</body>
</html>