<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:fragment name="head">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">TITLE</title>

<!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
<!-- MATERIAL DESIGNS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" th:src="@{/materialIcons.css}" />
<!-- PAGE HELPERS -->
    <script type="text/javascript" th:src="@{/pageScripts/pageHelpers.js}"></script>
</head>
<body>

</body>
</html>