<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About Me</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li class="dropdown-head"><a th:href="@{/platforms}">Platforms</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/platforms/github}">GitHub</a></li>
                </ul>
            </li>

            <li><a th:href="@{/games}">Games</a></li>
            <li class="dropdown-head"><a target="_blank" th:href="@{/apps}">Apps</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/apps/chalkboard}">ChalkBoard</a></li>
                    <li><a th:href="@{/apps}">Ctrl+F Camera</a></li>
                </ul>
            </li>
            <li class="dropdown-head"><a target="_blank" th:href="@{https://addons.mozilla.org/en-US/firefox/user/17656763/}">Extensions</a>
                <ul class="dropdown-content">
<!--                    <li><a th:href="@{/extensions/return-youtube-ui}">Return YouTube UI</a></li>-->
                    <li><a th:href="@{https://addons.mozilla.org/en-US/firefox/addon/return-youtube-ui/}" target="_blank">Return YouTube UI</a></li>
                </ul>
            </li>
            <li><a th:href="@{/websites}">Web</a></li>

        </ul>
    </nav>
<!--    STYLING    -->
    <style th:inline="css">
        :root {
            --background-image: url("[[${imageUrl}]]");
        }
        body {
            background-image: var(--background-image);
        }
    </style>

</header>
</body>
</html>