<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body th:fragment="fragments/">
<div th:insert="fragments/_header :: header"></div>

<style>
  /*   Page specific overrides   */
  .section-content-holder img{
    width: 80%;
    height: auto;
  }

</style>

<div class="panel" th:each="contentBox : ${menuContainer}">
  <script th:inline="javascript">
    const pages = /*[[${contentBox.pages}]]*/ null;
    const modes = /*[[${contentBox.modes}]]*/ null;
    let currentPageNumber = 0;
    let currentModeName = /*[[${contentBox.modes[0]}]]*/ null;

    function updateCurrentContentMode(switchToModeName, id){
      if(switchToModeName === currentModeName){
      }else{
        // TODO: Optimize
          currentModeName = switchToModeName;
          updateCurrentContentBox(0);
          var currentmodes = document.getElementsByClassName("selectedMode");
          while(currentmodes.length){
              currentmodes[0].classList.remove("selectedMode");
          }
          document.querySelector("#"+id).classList.add("selectedMode");
        // const selectIndex = modes.findIndex(mode => mode === switchToModeName);
        // document.querySelector(".mode-selector").innerText = ;
      }
    }

    function updateCurrentContentBoxByIndex(name, index){
        updateCurrentContentBox(index-currentPageNumber);
    }
    function updateCurrentContentBox(byAmount){
      const newPageNumber = currentPageNumber + byAmount;
      console.log("newPageNumber = "+newPageNumber);
      if(newPageNumber < 0 || newPageNumber >= pages.length){
      }else{
        // Give disabled look on buttons that would send index out of bounds
        if(currentPageNumber === 0) {
            document.querySelector(".prev-button").classList.remove("disabled");
        }
        if(currentPageNumber === pages.length - 1){
          document.querySelector(".next-button").classList.remove("disabled");
        }
        if(newPageNumber === 0){
          document.querySelector(".prev-button").classList.add("disabled");
        }else{
            document.querySelector(".prev-button").classList.remove("disabled");
        }
        if(newPageNumber === pages.length - 1){
          document.querySelector(".next-button").classList.add("disabled");
        }else{
            document.querySelector(".next-button").classList.remove("disabled");
        }

        const contentImage = document.querySelector(".section-content-holder").querySelector("img");//TODO: Combine?
        const contentHeader = document.querySelector(".section-title > h1").innerText = pages[newPageNumber].name;
        const newImage = pages[newPageNumber].images.find(image => image.mode.toLowerCase() === currentModeName.toLowerCase());//Uses find instead of filter to return immediately after finding the first element
        contentImage.src   = newImage.src;
        contentImage.alt   = newImage.alt
        contentImage.title = newImage.title;
        for(let i = 0; i < tabs.length; i++){//Removes previous assignments (Goes over each to make sure TODO: make just one to be more performant?)
            tabs[i].classList.remove("selectedPageTab");
        }
        tabs[newPageNumber].classList.add("selectedPageTab");
        currentPageNumber = newPageNumber;
      }
    }
  </script>
  <!--NOTE: Can switch back to th:object to be singular, right now it always will be singular because of a single element list return-->
  <div class="section-tabs">
    <div>
      <h3 th:text="${contentBox.tabHeaderName}">Tabs</h3>
    </div>
    <ul class="tabs">
      <li th:each="page : ${contentBox.pages}" th:text="${page.name}">Tab</li>
    </ul>
    <div>
      <h3><!--th:text="${contentBox.tabHeaderName}"-->Resources</h3>
    </div>
    <ul class="additionalInfo">
      <li th:each="link : ${contentBox.additionalLinks}">
          <a th:text="${link.name}" th:href="${link.url}" th:title="${link.title}" th:target="${link.getTarget()}">Link</a>
      </li>
    </ul>
  </div>
  <div class="section-second-container" th:with="page=${contentBox.pages[0]}">
    <div class="section-right-top">
      <div class="mode-selector">
        <h3 th:text="${contentBox.modeName}">Modes:</h3>
        <div th:each="mode : ${contentBox.modes}">
<!--          <input type="checkbox" id="mode-switch">-->
<!--          <label for="mode-switch" th:text="${mode}" id="|autogenIdClick${#strings.toLowerCase(#strings.replace(mode), ' ', '')}|">Mode Selector</label>-->
            <button th:text="${mode}" th:id="'autogenIdMode_' + ${#strings.toLowerCase(#strings.replace(mode, ' ', ''))}">Mode Selector</button>

        </div>
      </div>
    </div>
    <div class="section-title">
      <h1 th:text="${page.name}">Name</h1>
    </div>
    <div class="section-content-holder" th:with="image=${page.images[0]}">
      <button class="prev-button disabled">Previous</button>
      <img th:src="${image.src}" th:alt="${image.alt}" th:title="${image.title}" />
      <button class="next-button disabled">Next</button>
    </div>
  </div>
</div>

<script>
    const tabs = document.querySelector(".tabs").querySelectorAll("li");
    tabs.forEach((tab, index) => {
        <!-- Apply .selectedMode look to first mode option placed-->
        if(index === 0){
            tab.classList.add("selectedPageTab");
        }
        tab.addEventListener("click", function() {
            updateCurrentContentBoxByIndex(tab.innerText, index);
        })
    });

    document.querySelector(".prev-button").addEventListener("click", function(){
        updateCurrentContentBox(-1);
    });
    document.querySelector(".next-button").addEventListener("click", function(){
        updateCurrentContentBox(1);
    });
    const elements = document.querySelectorAll("[id^=autogenIdMode_]");
    elements.forEach((element, index) => {
      <!-- Apply .selectedMode look to first mode option placed-->
        if(index === 0){
            element.classList.add("selectedMode");
        }
        element.addEventListener("click", function() {
          updateCurrentContentMode(element.innerText, element.id);
        })
    });
    updateCurrentContentBoxByIndex("", 0);//Takes care of setting disabled or un-disabled previous & next buttons
</script>

</body>
</html>
