<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body th:fragment="fragments/">
<div th:insert="fragments/_header :: header"></div>

<style>
  /*   Page specific overrides   */
  .section-content-holder img{
    width: 80%;
    height: auto;
  }


  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 90px;
  }

  .prev-button {
    left: var(--distance_to_side);
  }
  .next-button {
    right: var(--distance_to_side);
  }

  .disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
  }

</style>

<div class="panel" th:each="contentBox : ${menuContainer}">
  <script th:inline="javascript">
    const pages = /*[[${contentBox.pages}]]*/ null;
    let currentPageNumber = 0;
    function updateCurrentContentBox(byAmount){
      const newPageNumber = currentPageNumber + byAmount;
      if(newPageNumber < 0 || newPageNumber >= pages.length){
        console.log(pages.length);
      }else{
        // Give disabled look on buttons that would send index out of bounds
        if(currentPageNumber === 0){
          document.querySelector(".prev-button").classList.remove("disabled");
        }else if(currentPageNumber === pages.length - 1){
          document.querySelector(".next-button").classList.remove("disabled");
        }
        if(newPageNumber === 0){
          document.querySelector(".prev-button").classList.add("disabled");
        }if(newPageNumber === pages.length - 1){
          document.querySelector(".next-button").classList.add("disabled");
        }

        const contentImage = document.querySelector(".section-content-holder").querySelector("img");//TODO: Combine?
        const contentHeader = document.querySelector(".section-title > h1");
        contentHeader.innerText = pages[newPageNumber].name;
        const newImage = pages[newPageNumber].images.find(image => image.mode === "light");//Uses find instead of filter to return immediately after finding the first element
        contentImage.src   = newImage.src;
        contentImage.alt   = newImage.alt
        contentImage.title = newImage.title;
        currentPageNumber = newPageNumber;
      }
    }
  </script>
  <!--NOTE: Can switch back to th:object to be singular, right now it always will be singular because of a single element list return-->
  <div class="section-tabs">
    <div>
      <h3>Tabs</h3>
    </div>
    <ul class="tabs">
      <li th:each="page : ${contentBox.pages}" th:text="${page.name}">Tab</li>
    </ul>
  </div>
  <div class="section-second-container" th:with="page=${contentBox.pages[0]}">
    <div class="section-right-top">
      <div class="mode-selector">
        <input type="checkbox" id="mode-switch">
        <label for="mode-switch" th:text="${contentBox.modeName}">Mode Selector</label>
      </div>
    </div>
    <div class="section-title">
      <h1 th:text="${page.name}">Name</h1>
    </div>
    <div class="section-content-holder" th:with="image=${page.images[0]}">
      <button class="prev-button disabled">Previous</button>
      <img th:src="${image.src}" th:alt="${image.alt}" th:title="${image.title}" />
      <button class="next-button">Next</button>
    </div>
  </div>
</div>

<script>
  document.querySelector(".prev-button").addEventListener("click", function(){
    updateCurrentContentBox(-1);
  });
  document.querySelector(".next-button").addEventListener("click", function(){
    updateCurrentContentBox(1);
  });
</script>


</body>
</html>
