<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
<body>
<div th:insert="fragments/_header :: header"></div>

<style th:inline="css">
        /*Page Overrides*/
        /*td > button{*/
        /*        background-color: orange;*/
        /*}*/
        /*button.material-symbols-outlined {*/
        /*        border: none;*/
        /*        background-color: red;*/
        /*}*/
</style>

<div id="content">
<!--        <div class="image_banner" th:attr="style='background-image: url(' + ${heroImgSrc} + ')'">-->
<!--                <div class="image_banner_message_section">-->
<!--                        <h1></h1>-->
<!--                        <p  th:text="${subheader}"></p>-->
<!--                </div>-->
<!--        </div>-->
<!--        <p th:text="${furtherText}"></p>-->
        <div class="centered">
                <h1>Contact</h1>
                <div class="centered">
                        <table class="material-copy">
                                <tr>
                                        <th>Description</th>
                                        <th>Link</th>
                                </tr>
                                <tr>
                                        <td>Personal Email</td>
                                        <td><a href="mailto:josephmemmel42null@duck.com" title="Email me!">josephmemmel42null@duck.com</a></td>
<!--                                        <td class="material-symbols-outlined"><button class="material-symbols-outlined">content_paste</button></td>-->
                                        <td onclick="copyTextToClipboard('josephmemmel42null@duck.com')" class="material-symbols-outlined"><span class="clipboard-wrap"><span class="material-icons clipboard-copy"></span></span></td>
                                </tr>
                                <tr>
                                        <td>Personal Email</td>
                                        <td><a href="mailto:averyparanoiduser@gmail.com" title="Email me!">averyparanoiduser@gmail.com</a></td>
                                </tr>
                                <tr>
                                        <td>Cell Number</td>
                                        <td><a href="tel:+12622269337" title="Call/text me!">+1 (262)-226-9337</a></td>
                                </tr>
                        </table>
                </div>
                <p>Paragrpah</p>
                <p><span class="material-symbols-outlined">inventory</span></p>
                <p><span class="material-symbols-outlined">&#xe14f;</span></p>

        </div>
</div>
</body>
</html>
