<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/_head :: head">
<body>
<div th:insert="fragments/_header :: header"></div>

<style th:inline="css">
        /*Page Overrides*/
        .hiddenClipboard {
                display: none;
        }
        .lastCopiedToClipboard{
                /*background-color: red;*/
        }
</style>

<div id="content">
<!--        <div class="image_banner" th:attr="style='background-image: url(' + ${heroImgSrc} + ')'">-->
<!--                <div class="image_banner_message_section">-->
<!--                        <h1></h1>-->
<!--                        <p  th:text="${subheader}"></p>-->
<!--                </div>-->
<!--        </div>-->
<!--        <p th:text="${furtherText}"></p>-->
        <div class="centered">
                <h1>Contact Information</h1>
                <div class="centered">
                        <table class="material-copy">
                                <tr>
                                        <th>Type</th>
                                        <th>Link</th>
                                </tr>
                                <tr th:each="contact : ${contacts}" class="">
                                        <td th:text="@{${contact.description}}"> Type</td>
                                        <td><a th:text="${contact.showLink}" th:href="@{${contact.copyStart} + ${contact.showLink}}" th:title="${contact.title}" >Clickable Link</a></td>
                                        <td th:attr="onclick=|copyTextToClipboard('${contact.showLink}')|" class="material-symbols-outlined"><span class="clipboard-wrap"><span class="material-icons clipboard-copy"></span></span></td>
                                </tr>
                        </table>
                </div>
                <p>Feel free to reach out! If you do try to call me, I may have my phone on silent mode, leave me a text or voicemail and I will get back to you as soon as possible.</p>

        </div>
</div>
</body>
</html>
